body {
  background-color: #f8f9fa;
}
.offcanvas-backdrop {
  visibility: hidden;
}
.sidebar {
  background-color: #343a40;
  color: white;
  padding: 15px;
  z-index: 1;
}
.sidebar a {
  color: white;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #828689;
}
.dashboard {
  padding: 20px;
}
.card {
  margin-bottom: 20px;
}
.card-header {
  background-color: #f8f9fa;
  border-bottom: none;
}
.progress-bar {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #dc3545;
}
.feeds-list li {
  list-style: none;
  padding: 5px 0;
}
.feeds-list li .badge {
  float: right;
}
.recent-users img {
  border-radius: 50%;
  margin-right: 10px;
}
.recent-comments .comment {
  margin-bottom: 15px;
}
.custom-margin {
  margin-left: 20px; /* Adjust as needed */
}
.icon-spacing {
  margin-right: 10px; /* Adjust as needed */
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.secondary-color {
  background-color: #dedede;
}
*/ .bg-success1 {
  background-color: #28a745 !important;
  height: 20px;
}

.bg-danger1 {
  background-color: #dc3545 !important;
  height: 20px;
}

.progress-thin {
  height: 5px; /* Adjust this value to make the bar thinner or thicker */
}

.bg-warning1 {
  background-color: #ffc107 !important;
  height: 20px;
}

.feeds-list {
  list-style: none;
  padding-left: 0;
}
.feeds-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.feeds-list li i {
  margin-right: 10px;
}
.progress-bar {
  position: relative;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.demo {
  width: 100%;
}
.img-style {
  max-width: 100%;
  height: 100%;
}
